.banner{
    padding: 3rem 7.5rem 6.25rem;
    background-color: var(--azul-escuro);
    color: var(--branco);
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.titulo{
    font-family: var(--fonte--segundaria);
    font-size: 3rem;
    margin-top: 4.875rem;
    margin-bottom: 2rem;
}
.paragrafo{
    font-family: var(--fonte--segundaria);
    font-size: 1.5rem;
    line-height: 4rem;
    margin-bottom: 2rem;
}
.imagens {
    position: relative;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* círculo colorido (maior) */
.circuloColorido {
    position: absolute;
    right: 4vw;
    bottom: 0;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    z-index: 1;
}

.minhaFoto {
    position: absolute;
    right: 3.5vw;
    bottom: -1vw;
    width: 23vw;   /* aumentei */
    height: 23vw;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
}
@media (max-width: 744px) {
  .banner {
    padding: 2rem 1rem;
    display: block;
  }

  .titulo {
    margin-bottom: 2rem;
  }

  .pararafo {
    margin-bottom: 2rem;
  }

  .imagens {
    height: 307px;
  }

  .imagens > .minhaFoto,
  .imagens > .circuloColorido {
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .imagens > .minhaFoto {
    width: 170px;
    transform: translate(5rem, 0px);
  }

  .imagens > .circuloColorido {
    width: 240px;
    transform: translate(-1.5rem, 0px);

  }
}
